/dts-v1/;
/plugin/;

/ {
    compatible = "xunlong,orangepi-zero", "allwinner,sun8i-h2-plus";
};

&{/soc} {
    rcrecv@0 {
	compatible = "rcrecv";
	gpios = <&pio 0 19 0>;

	/* tolerance to deviations of radio pulses. Default: 60% */
	default-tolerance = <60>;

	status = "okay";
    };
};
