/dts-v1/;
/plugin/;

/ {
    compatible = "allwinner,sun8i-h3";
};

&{/soc} {
    rcrecv@0 {
	compatible = "rcrecv";
	gpios = <&pio 0 13 0>;

	/* tolerance to deviations of radio pulses. Default: 60% */
	default-tolerance = <80>;

	status = "okay";
    };
};
